* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: #f9f9f9;
  line-height: 1.5;
}
h1 {
  font-size: 35px;
  text-align: center;
  margin: 30px 0;
}
form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
#searchInput {
  width: 50%;
  max-width: 400px;
  padding: 10px 20px;
  border: 0;
  font-size: 20px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  outline: 0;
  color: #333;
}
#searchInput::placeholder {
  color: #333;
}
#search {
  padding: 10px 20px;
  background-color: hsl(122, 39%, 49%);
  color: white;
  border: 0;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: 1s ease;
  margin: 0 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
#search:hover {
  background-color: hsl(122, 39%, 39%);
}
#search:active {
  scale: 0.9;
}
.searchResults {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  max-width: 1200px;
  justify-content: center;
  margin: 0 auto;
}
.searchResult {
  margin-bottom: 45px;
  width: 100%;
  padding: 0px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.searchResult a {
  text-decoration: none;
  display: block;
  color: #333;
  padding: 10px;
  transition: 1s ease;
}
.searchResult:hover a {
  background-color: rgba(0, 0, 0, 0.1);
}
.searchResult:hover img {
  transform: scale(1.1);
  transition: 1s ease;
}
.searchResult img {
  width: 100%;
  transition: 1s ease;

  height: 200px;
  object-fit: cover;
}
#showMore {
  background-color: hsl(240, 100%, 70%);
  border: none;
  padding: 10px 20px;
  /* margin-left: 37rem; */
  display: block;
  margin: 20px auto;
  cursor: pointer;
  color: white;
  transition: 1s ease;
  font-size: 20px;
  border-radius: 5px;
  display: none;
}
#showMore:hover {
  background-color: hsl(240, 100%, 50%);
}
button {
  outline: none;
}
#errorMessage {
  text-align: center;
  color: red;
  font-size: 2.5em;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  /* .searchResult { */
  /* width: 45%; */
  /* } */
}
@media all and (max-width: 480px) {
  form {
    flex-direction: column;
    margin: 10px;
  }
  #searchInput,
  #search {
    width: 80%;
  }
}
